<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>모차르트 마술피리</title>
</head>
<body>
	<a href="/admin/announcement/create"><button style="font-size:24px"> 새로 만들기</button></a>
	<div>
		<ul id='announcement_field'>
		</ul>
	</div>
	<br>
	<br>
</body>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script>
	var deleteannouncement = function(announcement_id){
		var url = 'http://' + location['hostname'] + ':' + location['port'] + '/announcement/' + announcement_id;
		console.log(url)
		$.ajax({
          type: "DELETE",
          url: url,
          success: function(responseData, textStatus, jqXHR) {
          	console.log(responseData)
            location.href="/admin/announcement"
            },
          error: function(jqXHR, textStatus, errorThrown) {
            // Materialize.toast('예상치 못한 에러가 발생했습니다. 나중에 다시 시도해주세요.', 2500)
            console.log('error');
              console.log(errorThrown);
          }
    });
	};

	$(document).ready(function(){
	var announcement_field = $('#announcement_field');
	var url = 'http://' + location['hostname'] + ':' + location['port'] + '/announcement';
	console.log(url);

	$.getJSON("/announcement", function( data ) {
	  console.log(data);
	  var announcementList = [];
	  for(var i=0;i<data.length;i++){
	  	var announcement = data[i];
	  	announcementList.push( "<li>" + announcement['title'] + "</li>" );
	  	announcementList.push("<button onclick=deleteannouncement(" + announcement['id'] + ")> 삭제 </button>")
	  	announcementList.push("<p>" + announcement['text'] + "</p>");
	  	announcementList.push("<br>");
	  }

	  announcement_field.html(announcementList.join(""))
    });
	});
	</script>
</html>