<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>모차르트 마술피리</title>
</head>
<body>
	<a href="/admin/image_arxiv/create"><button style="font-size:24px"> 새로 만들기</button></a>
	<div>
		<ul id='image_field'>
		</ul>
	</div>
	<br>
	<br>
</body>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

	<script>

	$(document).ready(function(){
	var image_field = $('#image_field');
	var image_url_prefix = 'http://' + location['hostname'] + ':' + location['port'] + '/image_arxiv_get/';
	var url = 'http://' + location['hostname'] + ':' + location['port'] + '/image_arxiv';
	console.log(url);

	$.getJSON("/image", function( data ) {
	  console.log(data);
	  var imageList = [];
	  for(var i=0;i<data.length;i++){
	  	var image = data[i];
	  	imageList.push( "<li> image link : http://www.magicflutedu.com/image_arxiv_get/" + image['s3_key'] + "</li>" );
	  	imageList.push("<br>");
	  	imageList.push("<img style='width: 200px;' src='" + image_url_prefix + image['s3_key'] + "' />")
	  	imageList.push("<br>");
	  }

	  image_field.html(imageList.join(""))
    });
	});
	</script>
</html>