<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>모차르트 마술피리</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img style="height: 56px;" src="/static/horizon_logo.jpg"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#1">About Us</a></li>
        <li><a href="#2">Our goal</a></li>
        <li><a href="#3">Acscent</a></li>
        <li><a href="#4">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#1">About Us</a></li>
        <li><a href="#2">Our goal</a></li>
        <li><a href="#3">Acscent</a></li>
        <li><a href="#4">Contact</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse brown-text"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <div class="row center">
          <h3> <br></h3>
          <h1> </h1>
          <h1> </h1>
        </div>
        <div class="row center">
        <h4 style="font-family: 'Nanum Gothic'; font-size: 44px" class="header center light bold">당신의 마음을 <strong class="bold" style="color: #85B348">아름답게</strong></h4>
        <h4 style="font-family: 'Nanum Gothic'; font-size: 44px" class="header center light bold">당신의 공간을 <strong class="bold" style="color: #5C97C2">품격있게</strong></h4>

        <h3></h3>

        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">문의하기</a>

        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4 class="center">모차르트 마술피리에 문의하기</h4>
            <h7 style="line-height: 2;" class="center">성함과 연락처, 문의사항을 남겨주시면 빠른 시간 내에 연락드리겠습니다</h7>
            <form class="col s12">
            
              <div class="input-field col s4">
                <input placeholder="마술피리" type="text" id="name" name="name" style="padding-top: 10px">
                <label for="name">이름</label>
              </div>
              <div class="input-field col s8">
                <input placeholder="010-1234-5678" type="text" id="phone" name="phone" style="padding-top: 10px">
                <label for="phone">전화번호</label>
              </div>

              <div class="input-field col s12">
                <!-- <textarea></textarea> -->
                <input length="100" type="text" id="ask_content" name="ask_content" style="padding-top: 10px">
                <label for="ask_content">문의사항</label>
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <a href="#" class="btn modal-action modal-close waves-effect waves-green btn-flat">닫기 </a>

            <a href="#" id="send_email" onclick="send_email();" class="btn modal-action modal-close waves-effect waves-green btn-flat"> 보내기</a>
          </div>
        </div>

        </div>
        <!-- <div class="row center">
          <h2 class="header col s12 light">안녕하세</h5>
        </div>
        <div class="row center">
          <h2 class="header col s12 light">우리는 모차르트 마술피리입니다.</h5>
        </div> -->
        <!-- <div class="row center">
          <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
        </div> -->
        <br>

      </div>
    </div>
    <div class="parallax"><img src="/static/main1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container" id="1">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">queue_music</i></h2>
            <h5 class="center">진정한 의미의 음악교육 실시</h5>

            <p class="light">현재 공교육에서는 입시 위주 교육으로 음악 수업이 등한시 되고 있고, 사교육에서는 악기 교육에만 치우쳐져 있어 경제적으로 부담스러운 것이 현실입니다. 모차르트 마술 피리는 악기 교육 뿐만 아니라 음악과 교과교육을 결합하여 <strong>아이들이 음악을 자연스럽게 습득할 수 있게 합니다</strong></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">사회적 문제를 음악으로 소통</h5>

            <p class="light">저소득층 아이들에게 음악 교육은 먼나라 이야기입니다. 경제적 불평등이 문화적 부익부 빈익빈에도 영향을 미치고 있는 것입니다. 또한 S대 음대 취업률은 수년째 20%가 채 되지 않으며 최하위를 기록하고 있습니다. <strong>모차르트 마술피리는 이들을 연결하여 저소득층에게는 무료 음악 교육을, 음대 미취업자에게는 일자리를 제공합니다</strong></p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">music_note</i></h2>
            <h5 class="center">국내 최고 수준의 연주 제공</h5>

            <p class="light">모차르트 마술피리의 강사진은 모두 음악대학 출신으로 수준 높은 연주와 다양한 편성과 다양한 장르의 음악 연주 가능할 뿐 아니라, <strong>개인만의 자체적 컨텐츠를 개발하여 세상에 하나밖에 없는 교육과 연주를 제공합니다</strong></p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light bold" style="font-size: 32px">모차르트 마술피리는 클래식에 관한 고정관념을 깨고자 합니다</h5>
        </div>
      </div>
    </div>
    <div class="parallax" id="2"><img src="/static/slide2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <h4 class="center" style="color: #444"><br>모차르트 마술피리의 목표</h4>
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text big-icon"><i class="material-icons">queue_music</i></h2>
            <h5 class="center small_title bold">Acscent 프로그램</h5>

            <p class="light small_title">음학이 아닌 직접 듣고 느끼는 클래식으로 음악의 자연스러운 습득과 아이들 정서함양에 효과적입니다</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text big-icon"><i class="material-icons">group</i></h2>
            <h5 class="center small_title bold">새로운 문화 창출</h5>

            <p class="light small_title">음악과 철학, 미술, 문학 등 타 문학과 통합한 음악 교육을 통해 클래식의 진정한 대중화를 꿈꿉니다</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text big-icon"><i class="material-icons">music_note</i></h2>
            <h5 class="center small_title bold">음악계의 실업난 극복</h5>

            <p class="light small_title">음대 출신 미취업자의 교육 및 연주 일자리를 제공합니다</p>
          </div>
        </div>
        </div>
      </div>
      <br><br>

      <div class="row center" id="3"><img src="/static/acscent2.png" style="width:70%"/></div>

      <br>

      <h4 class="center" style="color: #444"><br>마술피리</h4>
      <!-- <div class="col m9 offset-m5 s12"> -->
      <br>
      <h6 class="bold center"><strong class="bold">2015</strong> 한국사회적기업진흥원 소셜벤처창업경진대회 육성사업 선정</h6>
      <h6 class="bold center"><strong class="bold">2015 </strong> 한화생명 신나는 조합 시니어 창업경진대회 우수상</h6>
      <h6 class="bold center"><strong class="bold">2016  </strong> 보잉코리아 우리마을체인지코리아 선정</h6>
      
      <!-- </div> -->

      <!-- <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Acscent</h4>
        </div>
      </div> -->

    </div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center" id="4">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h5>찾아오시는 길</h5>
          <div id="mapContainer">
          <div id="daumRoughmapContainer1467524050808" class="root_daum_roughmap root_daum_roughmap_landing"></div>
        </div>

        </div>
      </div>

    </div>
  </div>

  <footer>
    <div class="page-footer footer-copyright" style="background-color:#E98C3B">
      <br>
      <div class="container center" style="color: white; opacity:0.8">
      대표 : 김화숙, 유정민&nbsp&nbsp&nbsp전화번호 : 02-765-5060&nbsp&nbsp&nbsp주소 : 서울시 종로구 수표로26길 28 동의빌딩 B1, 도심권50플러스센터
      </div>
      <br>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>
  <script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>

  <script charset="UTF-8">
    new daum.roughmap.Lander({
      "timestamp" : "1467524050808",
      "key" : "bpma",
      "mapWidth" : "320",
      "mapHeight" : "200"
    }).render();

    var send_email = function(){
        var url = 'http://' + location['hostname'] + ':' + location['port'] + '/question'

        var data = { name: $('#name').val(), phone: $('#phone').val(), detail: $('#ask_content').val()};

        console.log(data);

        console.log('clicked!')

        $.ajax({
          type: "POST",
          url: url,
          data: data,
          dataType: "json",
          success: function(responseData, textStatus, jqXHR) {
            if(responseData == '1'){
              Materialize.toast('성공적으로 문의하셨습니다', 2500)
            } else if (responseData == '0'){
              Materialize.toast('성명, 연락처, 문의사항을 모두 입력하여 주십시오!', 2500)
            } else{
              Materialize.toast('예상치 못한 에러가 발생했습니다. 나중에 다시 시도해주세요.', 2500)
            }
            },
          error: function(jqXHR, textStatus, errorThrown) {
            Materialize.toast('예상치 못한 에러가 발생했습니다. 나중에 다시 시도해주세요.', 2500)
            console.log('error');
              console.log(errorThrown);
          }
        })
        
        // var posting = $.post( url, { name: $('#name').val(), phone: $('#phone').val(), detail: $('#detail')});

        // posting.done(function(data){
        //   if(data==1){
        //     Materialize.toast('성공적으로 문의하셨습니다.', 2500)
        //   } else{
        //     Materialize.toast('오류가 발생했습니다. 다시 시도하여 주십시오', 2500)
        //   }
        // });
      }

    $(document).ready(function(){
      // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
      $('.modal-trigger').leanModal();

      

    });
  </script>


  </body>
</html>

